@media (min-width: 1200px) {

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

    

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 50px;
    line-height: 1.6;
}


.header {
    display: flex;
    align-items: center;
    gap: 20px
}
.photo .img {
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #000;
    width: 250px;
    height: 250px;
 
}

header .info {
    flex: 1;
    text-align: center;
}

header h1 {
    font-size: 26px;
    margin: 0;
}

header p {
    margin: 2px 0;
    font-size: 14px;
}


.container {
    display: flex;
    gap: 30px;
}


.left {
    flex: 1;
}


.right {
    flex: 1;
}


h2 {
    font-size: 20px;
    margin-bottom: 8px;
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
}

h3 {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 4px;
}

ul {
    margin: 5px 0 10px 20px;
}

li {
    margin-bottom: 5px;
}

p {
    margin: 3px 0;
    font-size: 14px;
}
}